body{
    background-color: aqua;
    text-align: center;
}

.container{
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 300px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.box{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-size: 60px;
    color: burlywood;
    background-color: chartreuse;
}

#reset{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: brown;
    color: aqua;
}

.msg-container{
    height: 75px;
}

#msg{
    color: rgb(61, 95, 124);
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#new-btn{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: brown;
    color: aqua;
}

.hide{
    display: none;
}
